# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script run during a build
#  process that installs PyInstaller so that later clean-up can be done.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / Coverage reports
htmlcov/
.tox/
.nosenv/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.poetry/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, if you're executing a setup.py script or pip install -e ., you might want to ignore it.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock is generally tracked in version control.
#poetry.lock

# pdm
#   Similar to Pipfile.lock, pdm.lock is generally tracked in version control
#pdm.lock
.pdm.toml
.pdm-plugins/
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
site/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Cython debug files
cython_debug/

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
